.social-links a {
    transition: color 0.3s ease;
    color: rgba(255, 255, 255, 0.7); 
}

.social-links a:hover {
    color: #ffffff; 
}

/* Pour les liens du pied de page */
.footer a {
    font-weight: normal;
    text-decoration: none; 
    transition: font-weight 0.3s ease, text-decoration 0.3s ease; 
    color: rgba(255, 255, 255, 0.7); 
}

.footer a:hover {
    font-weight: bold; 
    text-decoration: underline; 
    color: #ffffff; 
}

.social-icon {
    width: 30px; /* Ajustez la taille selon vos besoins */
    transition: filter 0.3s ease, transform 1.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
    background-color: #ffffff ;
}