
.mentions-legales-page {
    background-color: #f9f9f9;
    padding: 20px 0;
  }


.mentions-legales-page h1 {
  margin-bottom: 10px;
}


.blue-separator {
  width: 400px;
  height: 4px; 
  background-color: var(--bs-primary); 
  margin: 20px auto 30px ; 
}

address:hover{
  text-decoration: underline; 
  color: blue;
}