.mentions-legales-page {
    background-color: #f9f9f9;
    padding: 20px 0;
  }


.mentions-legales-page h1 {
  margin-bottom: 10px;
}


.blue-separator {
  width: 500px;
  height: 4px; 
  background-color: var(--bs-primary); 
  margin: 0 auto 30px; 
}

address:hover{
  text-decoration: underline; 
  color: blue;
}