.portfolio-card {
    position: relative;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Centre le contenu horizontalement */
    height: 100%; /* Assure une hauteur uniforme pour toutes les cartes */
    text-align: center;
}

.portfolio-card img {
    margin-bottom: 20px; /* Ajoute un espacement sous l'image */
}

.portfolio-card h3 {
    margin-bottom: 10px; /* Espacement sous le titre */
}

.portfolio-card p {
    margin-bottom: 20px; /* Espacement sous le texte descriptif */
}

.portfolio-card .btn {
    margin-bottom: 30px; /* Espacement sous le bouton */
    align-self: center; /* S'assure que le bouton est centré horizontalement */
    padding: 10px 20px;
    margin-left: 0px;
}

.portfolio-card .text-muted {
    margin-top: auto; /* Le texte en bas de la carte reste en bas */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.85); /* Fond légèrement transparent */
    border-top: 1px solid #dee2e6; /* Bordure supérieure pour séparer */
    width: 100%;
    border-radius: 0 0 10px 10px; /* Coins inférieurs arrondis */
    text-align: center;
}